// Fonts
@include font-face("Avril", font-files("arvil_sans-webfont.eot", "arvil_sans-webfont.svg", "arvil_sans-webfont.ttf", "arvil_sans-webfont.woff"));
@include font-face("Copperplate", font-files("copperplate_gothic_light-webfont.eot", "copperplate_gothic_light-webfont.svg", "copperplate_gothic_light-webfont.ttf", "copperplate_gothic_light-webfont.woff"));

// vars
$blue:#7dd1dd;
$green:#b1c818;

$default-text-shadow-color: rgba(black, 0.6);
$default-text-shadow-blur: 1px;
$default-text-shadow-v-offset: 1px;

// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:
$input-width:100px;
// @include $blueprint-form-sizes($input-width);

body{
	@include background-image(linear-gradient($blue, white)); 
	color:#333;
	font-family:"Copperplate", Arial, Helvetica, sans-serif;

}

#footer{
	background:url('../images/sign.png') no-repeat;
	background-position:bottom right;
	height:106px;
	width:100%;
	position:fixed;
	bottom:0;
}

@import "blueprint/form";

#header{
	position:relative;
	background:url('../images/helicopter2.gif') no-repeat;
	background-position:150px 30px;
	#logo{
		@include replace-text-with-dimensions('logo.png')
	}

	.cloud{
		@include replace-text-with-dimensions('cloud.png');
		position:absolute;
		top:0;
		left:300px;
	}

	#sms{
		position:absolute;
		right:0;
		top:30px;
		height:72px;
		background:url('../images/sms.png') no-repeat;
		color:white;
		font-size:20px;

		p{
			padding:15px 30px 0px 50px;
		}
	}	

	#description{
		position:absolute;
		right:20px;
		top:120px;
		width:590px;

		p{
			color:grey;
			// @include single-text-shadow;
			font-family:Georgia, "Times New Roman", Times, serif;
			font-size:15px;
			line-height:24px;

			.bold{
				font-weight:bold;
				// color:$green;
			}
		}
	}
}

#wrap{
	// width:940px;
	// margin:0 auto;
	padding:20px 0 40px 0;
	margin-left:150px;

	#forms{
		form{
			@include blueprint-form-sizes(20px);
			@include blueprint-form;
			border-top:1px solid $green;
			width:331px;
			float:left;
			background:url('../images/form-btm.png') no-repeat;
			background-position:bottom right;
			padding-bottom:44px;

			&:first-child{
				margin-right:50px;
			}

			input {
				width:180px !important;
			}

			input[type='submit']{
				// @include sassy-button;
				width:auto !important;
			}

			.form{
				width:78px;
				font-weight:bold;
			}

			.divider{
				padding:0 10px;
			}

			.label{
				text-align:right;
			}


			table{
				padding:10px;
				background:white;
				border-left:1px solid $green;
				border-right:1px solid $green;
			}
		}
	}

}

h3{
	font-weight:bold;
	font-size:24px;
	margin-bottom:10px;
}

h1{
	color:$green;
	font-family:"Avril";
	font-size:30px;
	margin-top:20px;

}

#ui-datepicker-div {
    font-size:10px;
}

#add-trip{
	background:white;
	border:1px solid $green;
	width:600px;
	padding:10px;
}

.result{
	list-style-type: none;
	background:white;
	border:1px solid $green;
	margin-bottom:20px;
	width:600px;
	padding:10px;

	a{
		text-decoration:none;
		color:$green;
	}
}



